SECRET_KEY=django-insecure-vds^c1y9y1uk(ko38x$96u5+_*zm_()ra!hpa=h2vib5z2mc7p

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=news_db
DB_USER=news_user
DB_PASSWORD=$ecur3Pa$$w0rd
DB_HOST=127.0.0.1
DB_PORT=3306

EMAIL_HOST_USER=handmadeloopinvoice@gmail.com
EMAIL_HOST_PASSWORD="mhxp yklh gmqq lgkn"